1019 4110E212

Python For Loops

Exercise 1 : Loop through the items in the fruits list.

In [1]:
classmates = ["jerick", "Yulah", "Juricka"]
for x in classmates:
  print(x)

jerick
Yulah
Juricka

Exercise 2 : In the loop, when the item value is "Yulah", jump directly to the next item.

In [4]:
classmates = ["jerick", "Yulah", "Juricka"]
for x in classmates:
  if x == "Yulah":
    continue
  print(x)

jerick
Juricka

Exercise 3 : Use the range function to loop through a code set 9 times.

In [5]:
for x in range(9):
  print(x)

0
1
2
3
4
5
6
7
8

Exercise 4 : Exit the loop when x is "Yulah".

In [6]:
classmates = ["jerick", "Yulah", "Juricka"]
for x in classmates:
  print(x) 
  if x == "Joana":
    break
    print(X)

jerick
Yulah
Juricka